<!DOCTYPE html>
<html>

<head>
  <title>
    Change Password
  </title>
  <% include ../common/head %>
    <link rel="stylesheet" type="text/css" href="stylesheets/login.css">
</head>
<body class="container">
  <% include ../common/alert %>
  <h2> Change Password </h2>
  <br />
  <form action='/changePassword' method='post'>
    Old Password : <br />
    <input type="text" name="oldPassword"><br />
    <br />
    New Password : <br />
    <input type="text" name="newPassword"><br />
    <br />
    Retype Password : <br />
    <input type="text" name="reNewPassword"><br />
    <br/>
    <button type="submit" value="Submit"> Change Password </button>
  </form>
</body>
</html>
