<div class="container">
  <h2> Change Password </h2>
  <br />
  <form action='/changePassword' method='post'>
    <div class="form-group">
      <label for="oldPassword">Old Password :</label>
      <input type="password" name="oldPassword" class="form-control" required>
    </div>
    <br />
    <div class="form-group">
      <label for="newPassword">New Password :</label>
      <input type="password" name="newPassword" class="form-control" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
        title="Must contain at least one number and one uppercase and lowercase letter, and at
     least 8 or more characters" required>
    </div>
    <br />
    <div class="form-group">
      <label for="reNewPassword"> Retype Password : </label>
      <input type="password" name="reNewPassword" class="form-control" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
        title="Must contain at least one number and one uppercase and lowercase letter, and at
      least 8 or more characters" required>
    </div>
    <br />
    <button type="submit" class="btn btn-primary" value="Submit"> Change Password </button>
  </form>
</div>

