<div class="container">
    <h1> Update profile details. </h1>
    <br />
    <form action='/updateProfile' method='post'>
        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" class="form-control" name="name" value="<%= user.name %>" required>
        </div>
        <br />
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" class="form-control" name="email" value="<%= user.email %>" required>
        </div>
        <br />
        <div class="form-group">
            <label for="phoneNo">Phone Number:</label>
            <input type="number"  class="form-control" name="phoneNo" value="<%= user.mobileNo %>" readonly pattern=".{10}" title="10 characters only"
            required>
        </div>

        <br />
        <br />
        <button class="btn btn-primary" type="submit" value="Submit"> Update Profile </button>
    </form>
</div>