<!DOCTYPE html>
<html>

<head>
    <% include ../common/head %>
    <link rel="stylesheet" type="text/css" href="stylesheets/login.css">
    <title>
        Update Profile.
    </title>
</head>

<body class="container">
    <% include ../common/alert %>
    <main>
        <h2> Update profile details. </h2>
        <br />
        <form action='updateprofile' method='post'>
            Name : <br />
            <input type="text" name="name" value="<%= user.name %>" required>
            <br />
            <br />
            email : <br />
            <input type="email" name="email" value="<%= user.email %>" required>
            <br />
            <br />
            phone number : <br />
            <input type="text" name="phoneNo" value="<%= user.mobileNo %>"  pattern=".{10}" title="10 characters only" required>
            <br />
            <br />
            <button type="submit" value="Submit"> Update Profile </button>
        </form>
    </main>
</body>

</html>