<div class="container">
    <form action="" method="GET">
        <div class="form-group">
            <label for="serialNo">Serial Number</label>
            <input type="number" id="serialNo" name="serialNo" class="form-control">
        </div>
        <div class="form-group">

            <button type="submit" class="btn btn-primary">Assign a Train</button>
        </div>
    </form>
</div>

