<link rel="stylesheet" type="text/css" href="/../stylesheets/package.css">

<div class="container">

    <div class="row">
        <form action='/package' method='post'>
            <div class="form-group">
                <label for="weight">Weight (Kgs)</label>
                <input name="weight" type="number" class="form-control" id="weight" required>
            </div>
            <div class="form-group">
                <label for="source_city_id">Source City</label>

                <select class="form-control" name="source_city_id" id="source_city_id"  required>
                    <% for(let city of citiesArray) { %>
                    <option value=<%= `${city.id}` %>><%= `${city.name}` %></option>
                    <% } %> </select>
            </div>

            <div class="form-group">
                <label for="destination_city_id">Destination City</label>

                <select class="form-control" name="destination_city_id" id="destination_city_id" required> 
                    <% for(let city of citiesArray) { %>
                    <option value=<%= `${city.id}` %>><%= `${city.name}` %></option>
                    <% } %> </select>
            </div>

            <div class="form-group">
                <label for="name">Receiver Name</label>
                <input name="name" type="text" class="form-control" id="name" required>
            </div>
            <div class="form-group">
                <label for="email">Receiver Email</label>
                <input name="email" type="email" class="form-control" id="email" required>
            </div>
            <div class="form-group">
                <label for="phoneNo">Receiver Phone</label>
                <input name="phoneNo" type="number" class="form-control" id="phoneNo" required>
            </div>

            <button type="submit" value="Submit" class="btn btn-primary">Add Package</button>
        </form>
    </div>

</div>