<script src="/../javascripts/package.js"></script>

<div class="container">
    <div class="row">
        <div class="form-group">
            <label for="search">Search for Package</label>
            <input type="text" class="form-control" placeholder="Serial Number" name="search" id="search" required>
        </div>

    </div>
    <div class="row">
        <button onclick="changeURL();" class="btn btn-primary">Search</button>
    </div>
</div>
