<link rel="stylesheet" type="text/css" href="../stylesheets/trackPackage.css">

<link rel="stylesheet" type="text/css" href="/../stylesheets/trackPackage.css">

<div class="track-content">
    <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="10 aria-valuemin="0" aria-valuemax="100"
            style="width:<%= percent %>%">
            <span class="sr-only">70% Complete</span>
        </div>

    </div>


    <div class="row">
        <% for(id in status){ %>
        <div class="col-md">
            <% if(status[id].isLive){ %>
            <div class="spinner-grow text-success"></div> <br>
            <% }else{ %>
            <br>
            <% } %>
            <%= status[id].city_name %><br>
            <%= status[id].time.split(',')[0] %><br>
            <%= status[id].time.split(', ')[1] %><br>
        </div>

        <% } %>
    </div>
</div>