<!DOCTYPE html>
<html>

<head>
  <title>Login</title>

  <% include ./common/head %>
</head>

<body class="container">

  <main>

    <div class="logo">
        <img src="images/deqode.png" width="65" height="auto">
    </div>

    <div id="loginBlock">

      <form method="POST" action="/login">
        <div class="form-group">
          <label for="email">Email address</label>
          <input name="id" type="email" class="form-control" id="email" aria-describedby="emailHelp">
        </div>
        <div class="form-group">
          <label for="pwd">Password</label>
          <input name="pwd" type="password" class="form-control" id="pwd">
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
      </form>
      <br>
      <a href="/forgot-password">Forgot Password?</a>
      <br>
      <a href="/register">Not Registered yet?</a>
    </div>
  </main>

  <footer>
    <% include ./common/footer %>
  </footer>

</body>

</html>