<html>

<head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script>
		$(document).ready(function () {
			$.get("/api/v1.0/cities", function (data, status) {
				console.log(data);
				for (let city of data) {
					console.log(city.id);
					$("#table").append(`<tr> <td>${city.name} </td>
						<td><form action="/cities/edit?_id=${city.id}" method='get'>
    							<button class ="btn btn-primary" type="submit" value="Submit">Edit</button>
								</form>
						</td></tr>`);
				}
			})
		});
	</script>
</head>

<body>
	<% include ../common/alert %>
	<table id="table" class="table">
		<tr>
			<th>City name</th>
		</tr>
		
	</table>

	<br>
	<br>
	<form action="/cities/add" method='get'>
		<button class="btn btn-primary" type="submit" value="Submit">Add city</button>
	</form>

</body>

<style>
	table,
	th,
	td {
		border: 1px solid black;
	}
</style>

</html>

