<html>

	<head>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<script>
			$(document).ready(function () {
				$.get("http://localhost:3000/train/", function (data, status) {
					console.log(data);
					for (let train of data) {
						$("#table").append(`<tr> <td>${train.name} </td>
							<td>${train.trainNo} </td>
						<td><a href ="http://localhost:3000/train/edit?_id=${train.id}">Edit</a> </td></tr>`);
					}
				})
			});
		</script>
	</head>

	<body>
			<% include ../common/alert %>
		<p>
			<h1>Trains List</h1>
		</p>
		<table id="table">
			<tr>
				<th>Train name</th>
				<th>Train number</th>
			</tr>

		</table>

		<br>
		<br>
		<a id="btn3" href="http://localhost:3000/train/add">Add Train</a>

	</body>

	<style>
		table,
		th,
		td {
			border: 1px solid black;
		}
	</style>

</html>