<script src="/../../javascripts/navbar.js"></script>

<nav class="navbar navbar-expand navbar-light bg-light bd-navbar">
  <button class="navbar-toggler sidebar-toggler" type="button" data-toggle="sidebar-show">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="/"><img src="/../images/deqode.png" width="35" height="auto"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <% if(typeof userRole != 'undefined'){ %>
      <li class="nav-item">
        <a class="nav-link disabled" href="#"><%= userRole %></a>
      </li>
      <% } %>
    </ul>
    <div class="row">
      <div class="col-md">
        <input id="search_pkg_nav" class="form-control mr-sm-2" placeholder="Search Package" aria-label="Search">
      </div>
      <div class="col-md offset-1">
        <button class="btn btn-outline-success my-2 my-sm-0" onclick="changeURL();">Search</button>
      </div>
    </div>

  </div>
</nav>