<div class="container">
  <br />
  <br />
  <br />
  <form action='/roles/' method='post'>
    <div class="form-group">
      <label for="name">Role Name</label>
      <input type="text" class="form-control" placeholder="Enter Name" name="name" required>
    </div>
    <br />
    <div class="form-group">
      <label for="level">Role level</label>
      <input type="number" class="form-control" placeholder="Enter level" name="level" required>
    </div>
    <br />
    <br />
    <button class="btn btn-primary" type="submit" value="Submit"> Add role </button>
  </form>
  <br />
  <br />
  <form action='/dashboard' method='get'>
    <button class="btn btn-primary" type="submit" value="Submit"> Dashboard </button>
  </form>
</div>

