<div class="container">
  <main>
    <h2> Add a role in system </h2>
    <br />
    <form action='add_role' method='post'>
      name : <br />
      <input type="text" name="name"><br />
      <br />
      level : <br />
      <input type="text" name="level"><br />
      <br />
      <button class="btn btn-primary" type="submit" value="Submit"> Add role </button>
    </form>
  </main>
</div>