<div class="container">
  <br />
  <br />
  <br />
  <form action='/role/add_role' method='post'>
    <input type="text" placeholder="name" name="name" required><br />
    <br />
    <input type="number" placeholder="level" name="level" required><br />
    <br />
    <br/>
    <button class="btn btn-primary" type="submit" value="Submit"> Add role </button>
  </form>
  <br/>
  <br/>
  <form action='/dashboard' method='get'>
    <button class="btn btn-primary" type="submit" value="Submit"> Dashboard </button>
  </form>
</div>