<!DOCTYPE html>
<html>

<head>
  <title>
    Add role
  </title>
</head>
<body>
  <h2> Add a role in system </h2>
  <br />
  <form action='add_role/status' method='post'>
    name : <br />
    <input type="text" name="name"><br />
    <br />
    level : <br />
    <input type="text" name="level"><br />
    <br />
    <button type="submit" value="Submit"> Add role </button>
  </form>
</body>
</html>
