<!DOCTYPE html>
<html>

<head>
  <title>
    Edit role
  </title>
</head>

<body>
  <h2> Edit a role in system </h2>
  <form action='edit_role/status' method='post'>
    <input type="hidden" name="user_id" value=<%= role_id %> >
    name : <br />
    <input type="text" name="name"><br />
    <br />
    level : <br />
    <input type="text" name="level"><br />
    <br />
    <button type="submit" value="Submit"> Edit role </button>
  </form>
</body>
</html>
