
<div class="container">
  <br/>
  <form action='edit_role' method='post'>
    <input type="hidden" name="role_id" value=<%= role_id %> >
   
    <input type="text" placeholder="name" name="name" required value= '<%= name%>' ><br />
    <br />
    
    <input type="text" placeholder="level" name="level" required value= '<%= level %>' ><br />
    <br />
    <button class ="btn btn-primary" type="submit" value="Submit"> Edit role </button>
  </form>
  <br/>
  <br/>
  <form action='/role' method='get'>
    <button class ="btn btn-primary" type="submit" value="Submit"> View Assigned Roles </button>
  </form>
  <br/>
  <br/>
</div>

