<!DOCTYPE html>
<html>

<head>
  <style>
    table,
    th,
    td {
      border: 1px solid black;
      border-collapse: collapse;
    }

    th,
    td {
      padding: 5px;
      text-align: left;
    }
  </style>
</head>

<body>
  <h2>Existing roles in System</h2>
  <table>
    <tr>
      <th>id</th>
      <th>name</th>
      <th>level</th>
    </tr>
    <form action='role/edit_role' method='post'>
      <% for (role of rolesArray) { %>
      <tr>
        <td> <%= `${role.id}` %> </td>
        <td> <%= `${role.name}` %> </td>
        <td> <%= `${role.level}` %> </td>
        <td>
          <button type="submit" value=<%= role.id %> name="role_id">
            Edit role
          </button>
        </td>
      </tr>
      <% } %>
    </form>
  </table>
  <br />
  <br />
  <form action='role/add_role' method='get'>
    <button type="submit" value="Submit">Add role</button>
  </form>
  <br />
  <form action='role/view_users' method='get'>
    <button type="submit" value="Submit">User role management</button>
  </form>
  <br />
</body>
</html>
