<div class="container">
  <table class="table">
    <tr>
      <!-- <th>id</th> -->
      <th>Name</th>
      <th>Level</th>
    </tr>
    <form action='role/edit_role' method='get'>
      <% for (role of rolesArray) { %>
      <tr>
        <!-- <td> <%= `${role.id}` %> </td> -->
        <td> <%= `${role.name}` %> </td>
        <td> <%= `${role.level}` %> </td>
        <td>
          <button value='<%= role.id %>' name="role_id" class="btn btn-info" type="submit">
            Edit
          </button>
        </td>
      </tr>
      <% } %>
    </form>
  </table>
  <br />
  <br />
  <br />
</div>