
<div class="container">
  <table class="table">
    <tr>
      <th>Name</th>
      <th>Role</th>
      <th>Access Level</th>
    </tr>
    <form action='view_users/editUserRole' method='get'>
      <% for (user of usersArray) { %>
      <tr>
        <td> <%= `${user.name}` %> </td>
        <% if (user.roleAssign) { %>
        <td> <%= `${user.roleAssign.role.name}` %></td>
        <td> <%= `${user.roleAssign.role.level}` %></td>
        <% } else { %>
        <td>  User </td>
        <td>  10 </td>
        <% } %>
        <td>
          <button class ="btn btn-primary" type="submit" value=<%= user.id %> name="user_id">
            Edit role
          </button>
        </td>
      </tr>
      <% } %>
    </form>
  </table>
  <br />
</div>

