<body>
	<div class="container">
		<table id="table" class="table">
			<tr>
				<th>User Name</th>
				<th>User Email</th>
				<th>City Name</th>
			</tr>
		</table>
		<br>
		<br>
	</div>
</body>
<script>
	$(document).ready(function () {
		$.get("/api/v1.0/offices", function (data, status) {
			// console.log(data);
			for (let office of data) {
				// console.log(office.id);
				$("#table").append(`<tr> <td>${office.user.name} </td>
						<td>${office.user.email} </td>
						<td>${office.city.name} </td>
						<td><a class = "btn btn-info" href ="/offices/edit?_id=${office.id}">Update</a></td>
						</tr>`);
			}
		})
	});
</script>
<style>

	